.messageSender{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
}

.messageSender__bottom{
    display: flex;
    justify-content: space-evenly;
}

.messageSender__option{
    color: gray;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 20px;
}

.messageSender__option:hover{
    background-color: #eff2f5;
    border-radius: 20px;
}

.messageSender__option > h3{
    cursor: pointer;
    font-size: medium;
    margin-left: 10px;
}

.messageCenter__top{
    border-bottom: 1px solid #eff2f5;
    display: flex;
    padding: 15px;
}

.messageCenter__top > form{
    display: flex;
    flex: 1;
}

.messageCenter__top > form > input{
    background-color: #eff2f5;
    border-radius: 999px;
    /* get rid of blue outline */
    outline-width: 0;
    border: none;
    margin: 0 10px;
    padding: 5px 20px;
}

.messageCenter__input{
    flex: 1;
}

/* Hide button - still allows user to submit form by hitting enter(triggers button) */
.messageCenter__top > form > button{
    display: none;
}